body{
    background-color: #FFFFFF;
}
.banner {
          background-color: #C75300;
          width: 100%;
          height: 100px;
          text-align: center;
          
        }
img {
  position: relative; 
    top: 10px;
    left: 10px;
    
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 5vh;
}

.box-link {
  width: 30%;
  height: 20vh;
  border-radius: 20px;
  background-color: #ACA39A;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  line-height: 100px;   
  justify-content: space-between;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}